*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #f4f5f6;
}

.container{
  width: 960px;
  max-width: 95%;
  height: 100vh;
  margin: 0 auto;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow: clip;
}

/*.square:hover{
  background: red;
}*/